  .header {
    padding: 1px ; 
    background: #092d74;
    color: white;
    font-size: 15px;
  }
  .header p {
    text-align: right;
    margin: 1rem ;
  }

  .header h1 {
    text-align: start;
    margin: 1rem ;
  }